<ion-header>
  <ion-toolbar>
    <ion-title class='ion-hide-sm-up'>MILO-ML</ion-title>
    <ion-title class='ion-hide-sm-down'>
      MILO-ML: Machine Intelligence Learning Optimizer
      <span class='version'>
        v{{version}}{{api.isTrial ? (api.isEducation ? '-education' : '-trial') : ''}}
      </span>
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button href='/docs/index.html' target='_blank' *ngIf='isDocker'>
        <ion-icon slot='icon-only' name='help' color='primary'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class='full-height' (keydown.enter)='submit()'>
    <ion-row class='ion-align-items-center full-height'>
      <ion-col class='ion-text-center'>
        <img src='assets/icon/favicon.png' width='70' />

        <ng-container [ngSwitch]='mode'>
          <ng-container *ngSwitchCase='modes.SignIn'><ng-container *ngTemplateOutlet='signInTemplate'></ng-container></ng-container>
          <ng-container *ngSwitchCase='modes.SignUp'><ng-container *ngTemplateOutlet='signUpTemplate'></ng-container></ng-container>
          <ng-container *ngSwitchCase='modes.FinishSignUp'><ng-container *ngTemplateOutlet='finishSignUpTemplate'></ng-container></ng-container>
          <ng-container *ngSwitchCase='modes.ForgotPassword'><ng-container *ngTemplateOutlet='forgotPasswordTemplate'></ng-container></ng-container>
          <ng-container *ngSwitchCase='modes.ResetPassword'><ng-container *ngTemplateOutlet='resetPasswordTemplate'></ng-container></ng-container>
          <ng-container *ngSwitchCase='modes.ConfirmEmail'><ng-container *ngTemplateOutlet='confirmEmailTemplate'></ng-container></ng-container>
          <ng-container *ngSwitchCase='modes.WaitingForVerification'><ng-container *ngTemplateOutlet='waitingForVerificationTemplate'></ng-container></ng-container>
          <ng-container *ngSwitchCase='modes.Redirecting'><ng-container *ngTemplateOutlet='redirectingTemplate'></ng-container></ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #emailFragment [formGroup]='authForm'>
  <ion-item class='ion-no-padding'>
      <ion-label position='stacked'>Email</ion-label>
      <ion-input type='email' name='email' autocomplete='email' formControlName='email'></ion-input> 
  </ion-item>
  <div class='error-container'>
      <span class='error-message' *ngIf='authForm.get("email").dirty && !!authForm.get("email").errors?.required'>Email is required</span>
      <span class='error-message' *ngIf='authForm.get("email").dirty && !!authForm.get("email").errors?.email'>Email is invalid</span>
  </div>
</ng-template>

<ng-template #passwordFragment [formGroup]='authForm'>
  <ion-item class='ion-no-padding'>
      <ion-label position='stacked'>Password</ion-label>
      <ion-input formControlName='password' type='password'></ion-input>
  </ion-item>
  <div class='error-container'>
      <span class='error-message' *ngIf='authForm.get("password").dirty && !!authForm.get("password").errors?.required'>Password is required</span>
      <span class='error-message' *ngIf='authForm.get("password").dirty && !!authForm.get("password").errors?.minlength'>Password must be greater than 6 characters</span>
  </div>
</ng-template>

<ng-template #providerFragment>
  <p class='ion-padding-top ion-padding-bottom'>Or sign in with:</p>

  <div class='providers ion-text-center'>
      <img src='assets/providers/google.svg' class='google-provider' (click)='loginWithGoogle()'>
  </div>
</ng-template>

<ng-template #signInTemplate>
  <h1>Sign in to your account</h1>

  <ng-container *ngTemplateOutlet='emailFragment'></ng-container>
  <ng-container *ngTemplateOutlet='passwordFragment'></ng-container>
  <a class='ion-margin-top forgot-password' (click)='setMode(modes.ForgotPassword)'>Forgot your password?</a>

  <ion-button mode='md' (click)='signIn()' expand='block' color='primary'>Sign In</ion-button>
  <ion-button mode='md' (click)='exit(false)' expand='block' color='light'>Cancel</ion-button>

  <p>Don't have an account? <a (click)='setMode(modes.SignUp)'>Sign up now</a></p>
  <ng-container *ngTemplateOutlet='providerFragment'></ng-container>
</ng-template>

<ng-template #signUpTemplate>
  <h1>Sign Up</h1>

  <ng-container *ngTemplateOutlet='emailFragment'></ng-container>
  <ion-button mode='md' (click)='sendMagicLink()' expand='block' color='primary'>Sign Up</ion-button>
  <ion-button mode='md' (click)='exit(false)' expand='block' color='light'>Cancel</ion-button>

  <p>Already have an account? <a (click)='setMode(modes.SignIn)'>Sign in</a></p>
  <ng-container *ngTemplateOutlet='providerFragment'></ng-container>
</ng-template>

<ng-template #finishSignUpTemplate [formGroup]='signUpForm'>
  <h1>Finish Sign up</h1>

  <p>Thanks for verifying your email, complete your sign up below:</p>

  <ng-container *ngTemplateOutlet='emailFragment'></ng-container>
  <ion-item class='ion-no-padding'>
      <ion-label position='stacked'>First Name</ion-label>
      <ion-input name='fname' autocomplete='given-name' formControlName='firstName'></ion-input>
  </ion-item>
  <div class='error-container'>
      <span class='error-message' *ngIf='signUpForm.get("firstName").dirty && !!signUpForm.get("firstName").errors?.required'>First Name is required</span>
  </div>

  <ion-item class='ion-no-padding'>
      <ion-label position='stacked'>Last Name</ion-label>
      <ion-input name='lname' autocomplete='family-name' formControlName='lastName'></ion-input>
  </ion-item>
  <div class='error-container'>
      <span class='error-message' *ngIf='signUpForm.get("lastName").dirty && !!signUpForm.get("lastName").errors?.required'>Last Name is required</span>
  </div>

  <ng-container *ngTemplateOutlet='passwordFragment'></ng-container>

  <ion-button mode='md' (click)='completeSignUp()' expand='block' color='primary'>Sign Up</ion-button>
  <ion-button mode='md' (click)='cancelSignUp()' expand='block' color='light'>Cancel</ion-button>
</ng-template>

<ng-template #forgotPasswordTemplate>
  <h1>Forgot password</h1>

  <ng-container *ngTemplateOutlet='emailFragment'></ng-container>
  <ion-button mode='md' (click)='sendPasswordReset()' expand='block' color='primary'>Send Email</ion-button>
  <ion-button mode='md' (click)='exit(false)' expand='block' color='light'>Cancel</ion-button>

  <p>Don't have an account? <a (click)='setMode(modes.SignUp)'>Sign up now</a></p>
</ng-template>

<ng-template #resetPasswordTemplate [formGroup]='signUpForm'>
  <h1>Reset password</h1>

  <ng-container *ngTemplateOutlet='passwordFragment'></ng-container>

  <ion-button mode='md' (click)='resetPassword()' expand='block' color='primary'>Reset Password</ion-button>
  <ion-button mode='md' (click)='exit(false)' expand='block' color='light'>Cancel</ion-button>
</ng-template>

<ng-template #waitingForVerificationTemplate>
  <h1 class='larger'>Check your email...</h1>

  <p class='detail'>A link has been emailed to {{authForm.value.email}}. Please follow the link from the email to complete verification.</p>

  <p class='detail'>If you haven't gotten an email, please check your spam, or, <a (click)='setMode(modes.SignUp)'>correct the email address</a>.</p>
</ng-template>

<ng-template #confirmEmailTemplate>
  <h1>Complete Email Verification</h1>

  <ng-container *ngTemplateOutlet='emailFragment'></ng-container>
  <ion-button mode='md' (click)='validateMagicLink()' expand='block' color='primary'>Confirm Email</ion-button>
  <ion-button mode='md' (click)='setMode(modes.SignUp)' expand='block' color='light'>Cancel</ion-button>
</ng-template>

<ng-template #redirectingTemplate>
  <h1 class='larger'>Redirecting back...</h1>

  <p class='detail' *ngIf='redirectReason === "signUp"'>Your account has been created successfully!</p>
  <p class='detail' *ngIf='redirectReason === "passwordReset"'>Your password has been set successfully!</p>
  <p class='detail' *ngIf='redirectReason === "magicLink"'>Account already exists.</p>

  <p class='detail'>You are being redirected back to MILO-ML where you can login with your account.</p>
</ng-template>
