<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <form [formGroup]='uploadForm'>
    <ion-card class='ion-padding'>
      Train set: <input type='file' name='train' (change)="onFileSelect($event)">
    </ion-card>

    <ion-card class='ion-padding'>
      Test set: <input type='file' name='test' (change)="onFileSelect($event)">
    </ion-card>

    <ion-card class='ion-padding'>
      <ion-label>Label Column Name</ion-label>
      <ion-input placeholder='Enter condition column...' name='label_column' formControlName='label_column'>
      </ion-input>
    </ion-card>

    <ion-button class='ion-padding' (click)='onSubmit()'>Submit</ion-button>
  </form>
</ion-content>
