<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <form [formGroup]='uploadForm'>
    <ion-card class='ion-padding ion-text-center'>
      <ion-card-header>
        <ion-card-subtitle>Please provide a training test set and a separate test set used for generalization. Both data sets must have the same columns.</ion-card-subtitle>
        <ion-card-title>Data Upload</ion-card-title>
      </ion-card-header>

      <label class='file-input'>
        <ion-icon *ngIf="" name="checkmark-circle-outline" color="success"></ion-icon>
        Select Training Data
        <input type='file' name='train' (change)="onFileSelect($event)">
      </label>
      <label class='file-input'>
        Select Test Data (Generalization)
        <input type='file' name='test' (change)="onFileSelect($event)">
      </label>
      <ion-select placeholder='Target Column' interface='popover' [disabled]='!labels.length'>
        <ion-select-option *ngFor='let label of labels' [value]='label'>{{label}}</ion-select-option>
      </ion-select>
      <ion-button expand='block' class='ion-padding' (click)='onSubmit()' [disabled]='!labels.length'>Submit</ion-button>
    </ion-card>
  </form>
</ion-content>
