.file-input {
  padding: 10px;
  background: var(--ion-color-medium); 
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;

  input {
    display: none;
  }
}

ion-select {
  border-radius: 4px;
  padding-right: 16px;
  background: var(--ion-color-medium); 
  color: #fff;
  max-width: 200px;
  display: inline-flex;
  height: 36px;
}

.pipeline-selection {
  display: flex;
  justify-content: space-between;
  text-align: left;

  div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 5px;
  }

  mat-checkbox {
    display: block;
  }
}