<ion-header>
  <ion-toolbar>
    <ion-title>MILO: Machine Intelligence Learning Optimizer</ion-title>
    <ion-buttons slot='end' class='ion-padding-end'>
      <ng-container *ngIf='pendingTasks$ | async as pendingTasks'>
        <ion-button fill='solid' color='primary' (click)='openPendingTasks($event, pendingTasks)' *ngIf='pendingTasks.active.length || pendingTasks.scheduled.length'>
          <ion-spinner name='dots' slot='icon-only'></ion-spinner>
        </ion-button>
      </ng-container>
      <ion-button fill='solid' color='primary' (click)='reset()' *ngIf='uploadForm.valid'>
        <ion-icon slot='start' name='add'></ion-icon>
        Start New Search
      </ion-button>
      <ion-button fill="solid" color='primary' (click)='exportCSV()' *ngIf='stepper?.selectedIndex === 2'>
        <ion-icon slot='start' name='download'></ion-icon>
        Export
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class='container'>
  <mat-horizontal-stepper #stepper linear>
    <mat-step label='Select Data' [stepControl]='uploadForm' [editable]='!uploadForm.valid' errorMessage='Data upload is required.'>
      <app-upload #upload (stepFinished)='stepFinished($event)' [isActive]='stepper?.selectedIndex === 0'></app-upload>
    </mat-step>
    <mat-step label='Train' [stepControl]='trainForm' [editable]='!trainForm.valid' errorMessage='Pipeline elements need selection.'>
      <app-train #train (stepFinished)='stepFinished($event)' [featureCount]='featureCount' (reset)='reset()'></app-train>
    </mat-step>
    <mat-step label='View Results'>
      <app-results [isActive]='stepper?.selectedIndex === 2'></app-results>
    </mat-step>
  </mat-horizontal-stepper>
</div>
