/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '@angular/material/prebuilt-themes/purple-green.css';
@import '~material-icons/iconfont/material-icons.css';

.bold {
  font-weight: 700;
}

.overline {
  text-decoration: overline;
}

.full-height {
  height: 100%;
}

.test-modal {
  --min-width: 60%;
}

.wide-modal {
  --width: 90%;
  --max-width: 1000px;
}

.wide-alert {
  --max-width: 70%;
  --max-height: 90%;
  --min-width: 40%;

  .alert-message {
    max-height: initial;
  }
}

.wide-popover {
  --width: 400px;
}

.mat-checkbox-disabled .mat-checkbox-label {
  color: inherit;
}

.mat-stepper-horizontal {
  background-color: transparent;
}

.mat-form-field-underline {
  background-color: var(--ion-color-dark) !important;
}

.mat-form-field-label,
.mat-select-value,
.mat-select-arrow {
  color: var(--ion-color-dark) !important;
}

.mat-step-label {
  color: var(--ion-color-dark) !important;
}

.mat-step-optional {
  color: var(--ion-color-dark-tint) !important;
}

.mat-step-icon:not(.mat-step-icon-state-error) {
  background-color: var(--ion-color-medium) !important;
}

.mat-step-icon.mat-step-icon-selected {
  background-color: var(--ion-color-primary) !important;
}

.mat-form-field-type-mat-native-select:not(.mat-form-field-invalid) .mat-form-field-infix::after {
  color: var(--ion-color-dark) !important;
}

.mat-step-icon.mat-step-icon-state-done {
  background-color: var(--ion-color-success) !important;
}

.mat-stepper-horizontal-line {
  border-top-color: rgba(0,0,0,.12) !important;
}

.mat-table {
  background: #fff;

  .mat-cell,
  .mat-header-cell {
      color: var(--ion-color-dark);
  }
}

.mat-paginator, .mat-select-panel, .mat-option {
  background: #fff;
  color: var(--ion-color-dark);
}

.mat-checkbox-frame {
  border-color: #ccc;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled) {
  .mat-checkbox-background {
    background-color: var(--ion-color-success) !important;
  }  
}

.mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--ion-color-primary) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--ion-color-primary) !important;
}

.mat-input-element {
  caret-color: var(--ion-color-primary) !important;
}

@media (prefers-color-scheme: dark) {
  :root {

    --ion-border-color: var(--ion-color-dark-shade);
    --ion-background-color: var(--ion-color-dark);
    --ion-background-color-rgb: var(--ion-color-dark-rgb);
    --ion-text-color: var(--ion-color-light);
    --ion-text-color-rgb: var(--ion-color-light-rgb);

    --ion-color-step-50: #232323;
    --ion-color-step-100: #2e2e2e;
    --ion-color-step-150: #3a3a3a;
    --ion-color-step-200: #454545;
    --ion-color-step-250: #515151;
    --ion-color-step-300: #5d5d5d;
    --ion-color-step-350: #8b8b8b;
    --ion-color-step-400: #747474;
    --ion-color-step-450: #7f7f7f;
    --ion-color-step-500: #8b8b8b;
    --ion-color-step-550: #979797;
    --ion-color-step-600: #a2a2a2;
    --ion-color-step-650: #aeaeae;
    --ion-color-step-700: #b9b9b9;
    --ion-color-step-750: #c5c5c5;
    --ion-color-step-800: #d1d1d1;
    --ion-color-step-850: #dcdcdc;
    --ion-color-step-900: #e8e8e8;
    --ion-color-step-950: #f3f3f3;
  }

  .mat-table {
    background: var(--ion-color-dark);

    .active {
      background: #333 !important;
    }

    .mat-cell,
    .mat-header-cell {
        color: var(--ion-color-light);
    }
  }

  .mat-paginator, .mat-select-panel, .mat-option {
    background: var(--ion-color-dark);
    color: var(--ion-color-light);
  }  

  .mat-checkbox-frame {
    border-color: rgba(255,255,255,.7);
  }

  .mat-form-field-underline {
    background-color: var(--ion-color-light) !important;
  }
  
  .mat-form-field-label,
  .mat-select-value,
  .mat-select-arrow {
    color: var(--ion-color-light) !important;
  }  

  .mat-step-label {
    color: var(--ion-color-light) !important;
  }

  .mat-step-optional {
    color: var(--ion-color-light-tint) !important;
  }

  .mat-stepper-horizontal-line {
    border-top-color: rgba(255,255,255,.12) !important;
  }  
  
  .mat-form-field-type-mat-native-select:not(.mat-form-field-invalid) .mat-form-field-infix::after {
    color: var(--ion-color-light) !important;
  }
}

@media (max-width: 420px) {
  .mat-step-label {
    display: none !important;
  }

  .mat-paginator-range-label {
    margin: 0 12px 0 20px !important;
  }
}