/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '@angular/material/prebuilt-themes/purple-green.css';

@media(min-width: 768px) {
  .test-model {
    --height: 45%;
  }  
}

.bold {
  font-weight: 700;
}

.mat-checkbox-disabled .mat-checkbox-label {
  color: inherit;
}

.mat-stepper-horizontal {
  background-color: transparent;
}

.mat-form-field-underline {
  background-color: var(--ion-color-dark) !important;
}

.mat-form-field-label {
  color: var(--ion-color-dark) !important;
}

.mat-step-label {
  color: var(--ion-color-dark) !important;
}

.mat-step-icon:not(.mat-step-icon-state-error) {
  background-color: var(--ion-color-medium) !important;
}

.mat-step-icon.mat-step-icon-selected {
  background-color: var(--ion-color-primary) !important;
}

.mat-step-icon.mat-step-icon-state-done {
  background-color: var(--ion-color-success) !important;
}

.mat-stepper-horizontal-line {
  border-top-color: rgba(0,0,0,.12) !important;
}

.mat-table {
  background: #fff;

  .mat-cell,
  .mat-header-cell {
      color: var(--ion-color-dark);
  }
}

.mat-checkbox-frame {
  border-color: #ccc;
}

.roc {
  .axis {
    fill: var(--ion-color-dark);

    path,
    line {
        fill: none;
        stroke: grey;
        stroke-width: 2;
        shape-rendering: crispEdges;
        opacity: 1;
    }  
  }
  
  .guess {
    stroke: var(--ion-color-danger);
  } 
  
  .ideal {
    stroke: var(--ion-color-success);
  } 

  path { 
    stroke-width: 3;
    fill: none;
    opacity: .7;
  }

  text {
    text-transform: capitalize;
  }
}

.wide-alert {
  --max-width: 70%;
  --max-height: 90%;

  .alert-message {
    max-height: initial;
  }
}

.radial {
  fill: black;

  .node circle {
    fill: #999;
  }
  
  .node text {
    font: 10px sans-serif;
  }
  
  .node--internal circle {
    fill: #555;
  }
  
  .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }
  
  .link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
  }

  &.training {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    animation: load8 80s infinite linear;  
  }
}

@media (prefers-color-scheme: dark) {
  :root {

    --ion-border-color: var(--ion-color-dark-shade);
    --ion-background-color: var(--ion-color-dark);
    --ion-background-color-rgb: var(--ion-color-dark-rgb);
    --ion-text-color: var(--ion-color-light);
    --ion-text-color-rgb: var(--ion-color-light-rgb);

    --ion-color-step-50: #232323;
    --ion-color-step-100: #2e2e2e;
    --ion-color-step-150: #3a3a3a;
    --ion-color-step-200: #454545;
    --ion-color-step-250: #515151;
    --ion-color-step-300: #5d5d5d;
    --ion-color-step-350: #8b8b8b;
    --ion-color-step-400: #747474;
    --ion-color-step-450: #7f7f7f;
    --ion-color-step-500: #8b8b8b;
    --ion-color-step-550: #979797;
    --ion-color-step-600: #a2a2a2;
    --ion-color-step-650: #aeaeae;
    --ion-color-step-700: #b9b9b9;
    --ion-color-step-750: #c5c5c5;
    --ion-color-step-800: #d1d1d1;
    --ion-color-step-850: #dcdcdc;
    --ion-color-step-900: #e8e8e8;
    --ion-color-step-950: #f3f3f3;
  }

  .mat-table {
    background: var(--ion-color-dark);

    .active {
      background: #333 !important;
    }

    .mat-cell,
    .mat-header-cell {
        color: var(--ion-color-light);
    }
  }

  .mat-checkbox-frame {
    border-color: rgba(255,255,255,.7);
  }

  .mat-form-field-underline {
    background-color: var(--ion-color-light) !important;
  }
  
  .mat-form-field-label {
    color: var(--ion-color-light) !important;
  }  

  .mat-step-label {
    color: var(--ion-color-light) !important;
  }

  .mat-stepper-horizontal-line {
    border-top-color: rgba(255,255,255,.12) !important;
  }  
  
  .roc{
    .axis {
      fill: var(--ion-color-light);
    }
  }

  .radial {
    fill: white;
  }

  .auc-text {
    fill: white
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}