.container {
    height: 100%;
    width: 100%;
}

ion-spinner {
    color: var(--ion-text-color);
}

::ng-deep {
    mat-horizontal-stepper,
    .mat-horizontal-stepper-content {
        height: 100%;
    }

    .mat-horizontal-content-container {
        height: calc(100% - 10px);
    }

    .mat-horizontal-stepper-content {
        &:not(:last-child) {
            overflow-y: auto;

            &[aria-expanded="true"] {
                padding-bottom: 80px;
            }    
        }
    }
}
