<ion-header>
  <ion-toolbar>
    <ion-title class='ion-hide-sm-up' [class.ion-hide]='stepper?.selectedIndex'>MILO</ion-title>
    <ion-title class='ion-hide-sm-down'>MILO: Machine Intelligence Learning Optimizer</ion-title>
    <ion-buttons slot='end' class='ion-padding-end'>
      <ng-container *ngIf='pendingTasks$ | async as pendingTasks'>
        <ion-button fill='solid' color='primary' (click)='openPendingTasks($event, pendingTasks)' *ngIf='pendingTasks.active.length || pendingTasks.scheduled.length'>
          <ion-spinner name='dots' slot='icon-only'></ion-spinner>
        </ion-button>
      </ng-container>
      <ion-button fill='solid' color='primary' (click)='reset()' *ngIf='api.currentDatasetId || api.currentJobId'>
        <ion-icon slot='start' name='add'></ion-icon>
        Start New Search
      </ion-button>
      <ion-button fill="solid" color='primary' (click)='exportCSV()' *ngIf='stepper?.selectedIndex === 3'>
        <ion-icon slot='start' name='download'></ion-icon>
        Export
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class='container'>
  <mat-horizontal-stepper #stepper linear>
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

    <mat-step label='Select' [completed]='!!api.currentDatasetId' [editable]='!api.currentDatasetId'>
      <app-upload #upload (stepFinished)='stepFinished($event)' *ngIf='stepper?.selectedIndex === 0'></app-upload>
    </mat-step>
    <mat-step label='Explore' [completed]='!!api.currentJobId' [editable]='!api.currentJobId'>
      <app-explore #explore (stepFinished)='stepFinished($event)' (reset)='reset()' *ngIf='stepper?.selectedIndex === 1'></app-explore>
    </mat-step>
    <mat-step label='Train' [completed]='trainCompleted' [editable]='!trainCompleted'>
      <app-train #train *ngIf='stepper?.selectedIndex === 2' (stepFinished)='stepFinished($event)' [featureCount]='featureCount' (reset)='reset()'></app-train>
    </mat-step>
    <mat-step label='Results'>
      <app-results *ngIf='stepper?.selectedIndex === 3'></app-results>
    </mat-step>
  </mat-horizontal-stepper>
</div>
