.container {
    height: calc(100% - 56px);
    width: 100%;
}

ion-title {
  cursor: pointer;
}

ion-spinner {
    color: var(--ion-text-color);
}

.version {
  font-size: 8px;
  vertical-align: super;
}

::ng-deep {
    mat-stepper,
    .mat-horizontal-stepper-content,
    .mat-horizontal-stepper-wrapper {
        height: 100%;
    }

    .mat-horizontal-content-container {
        height: calc(100% - 72px);
    }
}
