<table>
    <thead><tr>
        <td>Statistic</td>
        <td>Value</td>
        <td>95% CI</td>
    </tr></thead>
    <tbody>
        <tr>
            <td>Sensitivity</td>
            <td>{{generalization.sensitivity}}</td>
            <td>{{generalization.sn_95_ci}}</td>
        </tr>
        <tr>
            <td>Specificity</td>
            <td>{{generalization.specificity}}</td>
            <td>{{generalization.sp_95_ci}}</td>
        </tr>
        <tr>
            <td>Accuracy</td>
            <td>{{generalization.accuracy}}</td>
            <td>{{generalization.acc_95_ci}}</td>
        </tr>
    </tbody>
</table>