ion-card {
  width: fit-content;
  margin: 30px auto;
  padding: 0 40px;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  thead > tr {
    border-bottom: 2px solid var(--ion-color-dark);
  }

  tbody td {
    padding: 6px;
  }
}

@media (prefers-color-scheme: dark) {
  table {
    thead > tr {
      border-bottom-color: var(--ion-color-light);
    }
  }
}
