<ion-card>
  <ion-card-header>
    <ion-card-title class='ion-text-center'>Model Performance</ion-card-title>
    <ion-card-subtitle class='ion-text-center'>Confidence intervals were calculated using the exact Clopper-Pearson method.</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <table class='ion-text-center'>
      <thead>
        <tr>
          <td></td>
          <td class='ion-padding-bottom'>Value</td>
          <td class='ion-padding-bottom'>95% CI</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MCC</td>
          <td>{{generalization.mcc | number}}</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>Sensitivity</td>
          <td>{{generalization.sensitivity * 100 | number}}%</td>
          <td>{{generalization.sn_95_ci[0] * 100 | number}}% to {{generalization.sn_95_ci[1] * 100 | number}}%</td>
        </tr>
        <tr>
          <td>Specificity</td>
          <td>{{generalization.specificity * 100 | number}}%</td>
          <td>{{generalization.sp_95_ci[0] * 100 | number}}% to {{generalization.sp_95_ci[1] * 100 | number}}%</td>
        </tr>
        <tr>
          <td>Accuracy</td>
          <td>{{generalization.accuracy * 100 | number}}%</td>
          <td>{{generalization.acc_95_ci[0] * 100 | number}}% to {{generalization.acc_95_ci[1] * 100 | number}}%</td>
        </tr>
        <tr>
          <td>Prevalence</td>
          <td>{{generalization.prevalence * 100 | number}}%</td>
          <td>{{generalization.pr_95_ci[0] * 100 | number}}% to {{generalization.pr_95_ci[1] * 100 | number}}%</td>
        </tr>
        <tr>
          <td>PPV</td>
          <td>{{generalization.ppv * 100 | number}}%</td>
          <td>
            <ng-container *ngIf='generalization.ppv_95_ci; else notApplicable'>
              {{generalization.ppv_95_ci[0] * 100 | number}}% to {{generalization.ppv_95_ci[1] * 100 | number}}%
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>NPV</td>
          <td>{{generalization.npv * 100 | number}}%</td>
          <td>
            <ng-container *ngIf='generalization.npv_95_ci; else notApplicable'>
              {{generalization.npv_95_ci[0] * 100 | number}}% to {{generalization.npv_95_ci[1] * 100 | number}}%
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>    
  </ion-card-content>
</ion-card>

<ng-template #notApplicable>
  N/A
</ng-template>