.container {
    padding: 16px;
    overflow: hidden;
    height: calc(100% - 94px);
    width: 100%;
    color: var(--ion-text-color);
}

.results-viewer {
    height: 100%;
    display: grid;
    grid-auto-rows: 50%;
}

.save-rocs {
    float: right;
    cursor: pointer;
    padding-bottom: 2px;
}

.table-wrapper {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;

    .filter-section {
        width: 100px;
        margin-right: 10px;

        select {
            word-wrap: initial;
        }
    }

    mat-paginator {
        bottom: -10px;
        position: sticky;
    }
}

.result-table {
    width: 100%;

    .mat-header-cell {
        top: -10px !important;

        &:last-of-type {
            pointer-events: none;
        }
    }

    
    td {
        padding: 5px;
    }

    .mat-header-cell:first-of-type {
        padding-left: 8px;
    }

    .active {
        background: #ccc;
    }

    .actions {
        ion-icon {
            cursor: pointer;
        }
    }
}

.title-case {
    text-transform: capitalize;
    font-size: small;
}

.roc-curve {
    padding: 0;
    margin: 2px 0;
}

.roc-graphs {
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 10px;
}

.details-button {
    float: right;
    margin-top: 20px;
}

@media(max-width: 1200px) {
    .results-viewer {
        display: block;
        overflow: auto;
    }

    .roc-graphs {
        height: initial;
    }

    .table-wrapper {
        overflow-y: initial;
        height: initial;

        .actions {
            display: flex;
            justify-content: space-between;    
        }
    }
}

@media(max-width: 600px) {
    .roc-graphs {
        display: initial;

        .roc-curve {
            max-width: initial;
        }
    }
}