.container {
    padding: 16px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: var(--ion-text-color);
}

.results-viewer {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;
}

.table-wrapper {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;

    .filter-section {
        width: 100px;
        margin-right: 10px;
    }
}

.result-table {
    width: 100%;

    .mat-header-cell:last-of-type {
        pointer-events: none;
    }
    
    td {
        padding: 5px;
    }

    .mat-header-cell:first-of-type {
        padding-left: 8px;
    }

    .active {
        background: #ccc;
    }

    .actions {
        ion-icon {
            cursor: pointer;
        }
    }
}

.title-case {
    text-transform: capitalize;
    font-size: small;
}

.roc-curve {
    max-width: 600px;
    margin: 25px auto;
}

.roc-graphs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    flex-shrink: 1.5;
    padding-bottom: 80px;

    ion-card {
        margin: 10px;
        margin-top: 0;
        flex-grow: 1;
        flex-basis: 45%;
    }
}

.details-button {
    float: right;
    margin-top: 20px;
}

@media(max-width: 1200px) {
    .results-viewer {
        display: block;
        overflow: auto;
        padding-bottom: 80px;
    }

    .roc-graphs {
        height: initial;
    }

    .table-wrapper {
        overflow-y: initial;
        height: initial;
        padding-bottom: initial;

        .actions {
            display: flex;
            justify-content: space-between;    
        }
    }
}

@media(max-width: 600px) {
    .roc-graphs {
        display: initial;
    }
}