<div class='container'>
  <ion-card class='ion-padding ion-text-center upload-new ion-margin-bottom' [formGroup]='uploadForm'>
    <ion-card-header>
      <ion-card-subtitle>Please select a training dataset and a separate test dataset used for generalization</ion-card-subtitle>
      <ion-card-title>Select Data</ion-card-title>
    </ion-card-header>

    <label class='file-input'>
      <ion-icon *ngIf='uploadForm.get("train").valid' name='checkmark-circle' color='success'></ion-icon>
      Select Training Data
      <input type='file' name='train' (change)='onFileSelect($event)'>
    </label>
    <label class='file-input'>
      <ion-icon *ngIf='uploadForm.get("test").valid' name='checkmark-circle' color='success'></ion-icon>
      Select Testing Data (Generalization)
      <input type='file' name='test' (change)='onFileSelect($event)' [disabled]='!uploadForm.get("train").valid'>
    </label>
    <ion-select placeholder='Target Column' interface='popover' [disabled]='!labels.length'
      formControlName='label_column'>
      <ion-select-option *ngFor='let label of labels' [value]='label'>{{label}}</ion-select-option>
    </ion-select>

    <ion-button expand='block' class='ion-padding' (click)='onSubmit()' [disabled]='!uploadForm.valid'>Next</ion-button>
  </ion-card>

  <ng-container *ngIf='(dataSets$ | async) as dataSets'>
    <ion-card class='ion-padding ion-text-center ion-margin-bottom' *ngIf='dataSets.length'>
      <ion-card-header>
        <ion-card-subtitle>Alternatively, you may select previously used datasets</ion-card-subtitle>
        <ion-card-title>Previous Datasets</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-chip *ngFor='let dataSet of dataSets' (click)='exploreDataSet(dataSet.id)'>{{dataSet.label}}
          ({{dataSet.date | date:'short'}})</ion-chip>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf='(publishedModels$ | async); let publishedModels'>
    <ion-card class='ion-padding ion-text-center' *ngIf='publishedModels.length'>
      <ion-card-header>
        <ion-card-subtitle>Listed are models you have already published. You may manage your published models below.
        </ion-card-subtitle>
        <ion-card-title>Published Models</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-chip *ngFor='let model of publishedModels | keyvalue' (click)='launchModel(model.key)'>{{model.key}}
          ({{model.value.date | date:'short'}})</ion-chip>
      </ion-card-content>
    </ion-card>
  </ng-container>
</div>