<ion-card class='ion-padding ion-text-center upload-new' [formGroup]='uploadForm'>
  <ion-card-header>
    <ion-card-subtitle>Please provide a training test set and a separate test set used for generalization. Both data sets must have the same columns.</ion-card-subtitle>
    <ion-card-title>Data Upload</ion-card-title>
  </ion-card-header>

  <label class='file-input'>
    <ion-icon *ngIf='uploadForm.get("train").valid' name='checkmark-circle' color='success'></ion-icon>
    Select Training Data
    <input type='file' name='train' (change)='onFileSelect($event)'>
  </label>
  <label class='file-input'>
    <ion-icon *ngIf='uploadForm.get("test").valid' name='checkmark-circle' color='success'></ion-icon>
    Select Testing Data (Generalization)
    <input type='file' name='test' (change)='onFileSelect($event)' [disabled]='!uploadForm.get("train").valid'>
  </label>
  <ion-select placeholder='Target Column' interface='popover' [disabled]='!labels.length' formControlName='label_column'>
    <ion-select-option *ngFor='let label of labels' [value]='label'>{{label}}</ion-select-option>
  </ion-select>

  <ion-button expand='block' class='ion-padding' (click)='onSubmit()' [disabled]='!uploadForm.valid'>Next</ion-button>
</ion-card>

<ion-card class='ion-padding ion-text-center previous-jobs' *ngIf='backend.previousJobs && backend.previousJobs.length'>
  <ion-card-header>
    <ion-card-subtitle>Alternatively, you may select previously uploaded data sets.<br>Jobs are listed by target along with either a unique ID or the job completion time.</ion-card-subtitle>
    <ion-card-title>Previous Data Set</ion-card-title>
  </ion-card-header>

  <table>
    <tr *ngFor='let job of backend.previousJobs'>
      <td>
        <span class='bold'>{{job.label}}</span>
         - 
        <span *ngIf='job.metadata && job.metadata.date; else noDate'>{{job.metadata.date * 1000 | date : 'medium'}}</span>
        <ng-template #noDate>{{job.id}}</ng-template>
      </td>
      <td><ion-button size='small' (click)='trainPrior(job.id)'>Train</ion-button></td>
      <td><ion-button size='small' (click)='viewPrior(job.id)' [disabled]='!job.results'>View Results</ion-button></td>
    </tr>
  </table>
</ion-card>
