:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input {
  padding: 10px;
  background: var(--ion-color-medium); 
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;

  input {
    display: none;
  }
}

ion-select {
  border-radius: 4px;
  padding-right: 16px;
  background: var(--ion-color-medium); 
  color: #fff;
  max-width: 200px;
  display: inline-flex;
  height: 36px;
}

.model-name {
  width: 100%;
  text-align: left;
}

form {
  max-width: 900px;
  margin: 0 auto;
}

.submit {
  max-width: 560px;
  margin: 4px auto;
}

@media(max-width:700px) {
  .file-input,
  ion-select {
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    text-align: left;
  }
}

@media(min-height:700px) and (min-width:400px) {
  :host {
    height: 100%;
  }
}