<div>
  <ion-card class='ion-padding ion-text-center ion-margin-bottom' [formGroup]='uploadForm'>
    <ion-card-header>
      <ion-card-subtitle>Please select a training dataset and a separate test dataset used for generalization</ion-card-subtitle>
      <ion-card-title>Select Data</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <label class='file-input'>
        <ion-icon *ngIf='uploadForm.get("train").valid' name='checkmark-circle' color='success'></ion-icon>
        Select Training Data
        <input type='file' name='train' (change)='onFileSelect($event)'>
      </label>
      <label class='file-input'>
        <ion-icon *ngIf='uploadForm.get("test").valid' name='checkmark-circle' color='success'></ion-icon>
        Select Testing Data (Generalization)
        <input type='file' name='test' (change)='onFileSelect($event)' [disabled]='!uploadForm.get("train").valid'>
      </label>
      <ion-select class='target-select' placeholder='Target Column' interface='popover' [disabled]='!labels.length' formControlName='label_column'>
        <ion-select-option *ngFor='let label of labels' [value]='label'>{{label}}</ion-select-option>
      </ion-select>

      <ion-button expand='block' class='submit' (click)='onSubmit()' [disabled]='!uploadForm.valid'>
        Next
      </ion-button>

      <ng-container *ngIf='dataSets$ | async as dataSets'>
        <h6 class='divider'><span>or</span></h6>

        <ion-select
          placeholder='Previously Uploaded Datasets'
          interface='alert'
          [interfaceOptions]='alertInterfaceOptions'
          (ionChange)='exploreDataSet($event.detail.value)'>
          <ion-select-option *ngFor='let dataSet of dataSets' [value]='dataSet.id'>
            {{dataSet.label}} ({{dataSet.date | date:'short'}})
          </ion-select-option>
        </ion-select>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-card class='ion-padding ion-text-center' *ngIf='publishedModels && keys(publishedModels).length'>
    <ion-card-header>
      <ion-card-subtitle>
        Explore and manage your published models
      </ion-card-subtitle>
      <ion-card-title>Published Models</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip *ngFor='let model of publishedModels | keyvalue' (click)='publishedOptions(model)'>{{model.key}}
        ({{model.value.date | date:'short'}})</ion-chip>
    </ion-card-content>
  </ion-card>
</div>