.file-input {
  padding: 10px;
  background: var(--ion-color-medium); 
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;

  input {
    display: none;
  }
}

ion-select {
  border-radius: 4px;
  padding-right: 16px;
  background: var(--ion-color-medium); 
  color: #fff;
  max-width: 200px;
  display: inline-flex;
  height: 36px;
}

.upload-new, .previous-jobs {
  max-width: 1000px;
  margin: 0 auto;
}

.previous-jobs {
  padding-bottom: 40px;

  table {
    width: 100%;
    
    tr td {
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

form {
  max-width: 900px;
  margin: 0 auto;
}

@media(max-width:700px) {
  .file-input,
  ion-select {
    display: flex;
    margin: 10px auto;
  }
}
