.results-viewer {
    display: flex;
}

.result-table {
    width: 100%;
    table-layout: fixed;
    flex-basis: 200%;

    td {
        padding: 5px;
    }

    .active {
        background: #ccc;
    }
}

.title-case {
    text-transform: capitalize;
    font-size: small;
}

.roc-curve {
    max-width: 600px;
    margin: 25px auto;
}

.roc-graphs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    ion-card {
        margin: 10px;
        margin-top: 0;
        flex-grow: 1;
        flex-basis: 45%;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media(max-width: 1000px) {
    .results-viewer {
        display: block;
    }
}

@media(max-width: 600px) {
    .roc-graphs {
        display: initial;
    }
}