.result-table {
    width: 100%;
    table-layout: fixed;

    td {
        padding: 5px;
    }
}

.title-case {
    text-transform: capitalize;
}

.roc-curve {
    max-width: 600px;
    margin: 25px auto;
}