.results-viewer {
    // display: flex;
}

.result-table {
    width: 100%;
    table-layout: fixed;

    td {
        padding: 5px;
    }

    .active {
        background: #ccc;
    }
}

.title-case {
    text-transform: capitalize;
    font-size: small;
}

.roc-curve {
    max-width: 600px;
    margin: 25px auto;
}

.roc-graphs {
    display: flex;

    ion-card {
        margin: 10px;
        margin-top: 0;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media(max-width: 600px) {
    .roc-graphs {
        display: initial;
    }
}