<div class='ion-padding ion-text-center' ngClass='{"container": !parameters}' [formGroup]='trainForm'>
  <ion-card class='pipeline-elements' [hidden]='training'>
    <ion-card-header>
      <ion-card-subtitle *ngIf='!parameters'>Select pipeline processors that you would like to enable</ion-card-subtitle>
      <ion-card-title>Pipeline Elements</ion-card-title>
    </ion-card-header>

    <div class='pipeline-selection'>
      <div formArrayName='estimators'>
        <h6>Estimators</h6>
        <mat-checkbox *ngFor='let estimator of pipelineProcessors.estimators; let i=index' [formControlName]='i'>
          {{estimator.label}}
          <ion-icon
            *ngIf='showAdvanced'
            name='settings'
            size='small'
            class='hyperparameter-settings'
            (click)='adjustEstimator($event, estimator)'
            [color]='areHyperParametersSet(estimator.value) ? "success" : ""'
          ></ion-icon>
        </mat-checkbox>
      </div>
      <div formArrayName='scalers'>
        <h6>Scalers</h6>
        <mat-checkbox *ngFor='let scaler of pipelineProcessors.scalers; let i=index' [formControlName]='i'>{{scaler.label}}</mat-checkbox>
      </div>
      <div formArrayName='featureSelectors'>
        <h6>Feature Selectors</h6>
        <mat-checkbox *ngFor='let featureSelector of pipelineProcessors.featureSelectors; let i=index' [formControlName]='i'>{{featureSelector.label}}</mat-checkbox>
      </div>
      <div formArrayName='searchers'>
        <h6>Searchers</h6>
        <mat-checkbox *ngFor='let searcher of pipelineProcessors.searchers; let i=index' [formControlName]='i'>{{searcher.label}}</mat-checkbox>
      </div>
      <div formArrayName='scorers'>
        <h6>Scorers</h6>

        <!-- Manually add ROC AUC since it's required by the UI -->
        <mat-checkbox disabled='disabled' checked='checked'>ROC AUC</mat-checkbox>
        <mat-checkbox *ngFor='let scorer of pipelineProcessors.scorers; let i=index' [formControlName]='i'>{{scorer.label}}</mat-checkbox>
      </div>
    </div>
  </ion-card>
  <ion-card class='cross-val-options' [hidden]='training'>
    <ion-card-header>
      <ion-card-subtitle *ngIf='!parameters'>Toggle whether to shuffle each class's samples before splitting into batches</ion-card-subtitle>
      <ion-card-title>Cross Validation Options</ion-card-title>
    </ion-card-header>

    <mat-checkbox formControlName='shuffle'><h6>Shuffle per Fold</h6></mat-checkbox>
  </ion-card>
  <ion-button *ngIf='!parameters' expand='block' (click)='startTraining()' [hidden]='training' [disabled]='!trainForm.valid'>Start Training</ion-button>
  <app-radial-dendrogram [data]='allPipelines' [training]='training' [hidden]='!training'></app-radial-dendrogram>
</div>
