.container {
  overflow-x: auto;
}

.pipeline-selection {
  display: flex;
  justify-content: space-between;
  text-align: left;

  div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 15px;
  }

  mat-checkbox {
    display: block;
  }
}

.hyperparameter-settings {
  vertical-align: sub;
  opacity: 0.7;
}

.pipeline-elements {
  padding-bottom: 10px;
}

.cross-val-options {
  padding-bottom: 10px;
  
  h6 {
    margin: 10px;
  }
}

@media(max-width: 870px) {
  .pipeline-selection {
    display: block;
  }
}