<ion-content>
  <ion-item lines='none' *ngIf='threshold'>
    <ion-label position='floating'>Decision Threshold ({{threshold | number:'1.2-2'}})</ion-label>
    <ion-range min='.3' max='.7' step='.05' snaps='true' ticks='true' [value]='threshold' (ionChange)='threshold = $event.target.value' color='primary'>
      <ion-label slot='start'>.3</ion-label>
      <ion-label slot='end'>.7</ion-label>
    </ion-range>
  </ion-item>

  <ion-item lines='none' *ngIf='voteType'>
    <ion-label>Vote Type</ion-label>
    <ion-select (ionChange)='voteType = $event.target.value' [value]='voteType'>
      <ion-select-option value='soft'>Soft</ion-select-option>
      <ion-select-option value='hard'>Hard</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand='block' class='ion-margin' color='primary' (click)='submit()'>Submit</ion-button>
</ion-content>