<div class="alert-head">
  <h2 class="alert-title">Are you sure you want to unpublish?</h2>
  <h2 class="alert-sub-title">This cannot be undone.</h2>
</div>
<div class="alert-message">
  Are you sure you want to delete the published model: 'AKI'?<br><br>Type the model name below to confirm.
</div>
<div class="alert-input-group">
    <textarea placeholder="Enter the hyperparameter JSON" class="alert-input"></textarea>
</div>
<div class="alert-button-group">
  <ion-button class="alert-button">
      Dismiss
  </ion-button>
  <ion-button class="alert-button">
      Unpublish
  </ion-button>
</div>