.pipeline-selection {
  display: flex;
  justify-content: space-between;
  text-align: left;

  div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 5px;
  }

  mat-checkbox {
    display: block;
  }
}

.cross-val-options {
  padding-bottom: 10px;
  
  h6 {
    margin: 10px;
  }
}