<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Train
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <ion-card class='ion-text-center ion-padding' *ngIf='uploadComplete && !results'>
    We are ready to begin training! Please click start below to get started.
    <br>
    <ion-spinner [hidden]='!training' style='margin: 20px 0 10px'></ion-spinner>
    <br>
    <ion-button (click)='startTraining()' [hidden]='training'>Start Training</ion-button>
  </ion-card>

  <ion-card class='ion-text-center ion-padding' *ngIf='results'>
    Training complete!
    <br>
    <ion-button routerLink='/results' [hidden]='!results'>View Results</ion-button>
  </ion-card>

  <ng-container *ngIf='!uploadComplete'>
    Please start by selecting your data on the home page
  </ng-container>
</ion-content>
