.mat-form-field {
    display: block;
}

.container {
    display: flex;
    overflow-y: hidden;
    margin-bottom: 10px;
    height: calc(100% - 50px);

    .inputs {
        overflow-y: scroll;
        width: 100%;
        max-width: 500px;
    }

    .results {
        .label {
            font-weight: 700;
        }

        .indicator {
            vertical-align: middle;
        }
    }
}

.page-view {
    height: calc(100% - 110px);
}

.hidden {
    display: none;
}
