<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start' class='ion-hide-md-up modal-only'>
      <ion-button (click)='modalController.dismiss()'><ion-icon slot='icon-only' name='close'></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      {{publishName ? 'MILO-ML: Machine Intelligence Learning Optimizer' : type ? 'Selected ' + type.charAt(0).toUpperCase() + type.slice(1) + ' Model' : 'Selected Model'}}
    </ion-title>
    <ion-buttons slot='end' class='ion-padding-end'>
      <ion-button fill='solid' color='primary' (click)='tuneModel($event)' *ngIf='!publishName'>
        <ion-icon class='ion-hide-sm-down' name='options' slot='start'></ion-icon><span class='ion-hide-sm-down'>Tune Model</span>
        <ion-icon class='ion-hide-sm-up' name='options' slot='icon-only'></ion-icon>
      </ion-button>

      <ng-container *ngIf='!type'>
        <!-- <ion-button fill='solid' color='primary' (click)='exportPMML()'>
          <ion-icon class='ion-hide-sm-down' name='code-download' slot='start'></ion-icon><span
            class='ion-hide-sm-down'>PMML</span>
          <ion-icon class='ion-hide-sm-up' name='code-download' slot='icon-only'></ion-icon>
        </ion-button> -->
        <ion-button fill='solid' color='primary' (click)='exportModel()' *ngIf='!api.isTrial'>
          <ion-icon class='ion-hide-sm-down' name='download' slot='start'></ion-icon><span
            class='ion-hide-sm-down'>Download</span>
          <ion-icon class='ion-hide-sm-up' name='download' slot='icon-only'></ion-icon>
        </ion-button>
      </ng-container>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding' [formGroup]='testForm' [ngClass]='{"page-view": publishName}'>
  <h4 *ngIf='publishName' class='ion-padding-bottom ion-text-center'>{{publishName}} Model</h4>

  <ion-segment value='single' #segment (ionChange)='invalidCases = undefined'>
    <ion-segment-button value='single'>
      <ion-label>Single</ion-label>
    </ion-segment-button>
    <ion-segment-button value='batch'>
      <ion-label>Batch</ion-label>
    </ion-segment-button>
    <ion-segment-button value='generalize' *ngIf='!type'>
      <ion-label>Additional Generalization</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf='segment.value === "single"'>
    <div class='container'>
      <div class='results ion-padding'>
        <div *ngIf='!type'>Current Decision Threshold: {{threshold | number:'1.2-2'}}</div>
        <div *ngIf='!result' class='ion-margin-top'>
          <div *ngIf='publishName; else testDetail'>
            Please enter your values and press predict to test the model against your sample data. You may
            also
            batch test multiple values by using the 'Batch' button.
            <br><br>
            If you wish you may download a copy of the model <!-- or it's PMML representation --> from the header
            buttons above.
          </div>
          <ng-template #testDetail>Please enter the values you wish to test or use the batch test to upload a
            CSV of values to test.</ng-template>
        </div>
        <div *ngIf='result'>
          <span class='label'>Predicted Outcome</span>:
          {{result.predicted[0] === 1 ? 'Positive' : result.predicted[0] === 0 ? 'Negative' : 'Equivocal'}} for {{ result.target }}
          <ion-icon class='indicator' size='large' [color]='result.predicted[0] === 1 ? "danger" : result.predicted[0] === 0 ? "success" : "warning"'
            [name]='result.predicted[0] === 1 ? "add-circle" : result.predicted[0] === 0 ? "remove-circle" : "help-circle"'></ion-icon>
          <br><br>
          <ng-container *ngIf='result.predicted[0] === 1 || result.predicted[0] === 0'>
            <span class='label'>Probability</span>: {{(result.probability[0] * 100) | number}}%
          </ng-container>

          <p>
            The predictions confidence is indicated by the probability above. Higher indicates a stronger
            confidence in the prediction.
          </p>
        </div>
        <ng-container *ngTemplateOutlet='modelStats'></ng-container>
      </div>
      <div class='inputs ion-padding' formArrayName='inputs'>
        <p *ngIf='featureScores'>Feature scores are displayed adjacent to feature names with their relative percent influence.</p>
        <ng-container *ngFor='let feature of parsedFeatures; let i=index'>
          <mat-form-field color='accent'>
            <input matInput type='number' [placeholder]='"Enter " + feature + (featureScores ? " (" + (featureScores[feature] * 100 | number) + "%)" : "")' [formControlName]='i'>
          </mat-form-field>
        </ng-container>
      </div>
    </div>

    <ion-button expand='block' (click)='testModel()' color='primary' fill='solid' class='submit' [disabled]='!testForm.valid'>Predict</ion-button>
  </ng-container>

  <ng-container *ngIf='segment.value === "batch"'>
    <div class='container' (drop)='batchTest($event, "drop")' (dragover)='startDrag($event)' (dragleave)='endDrag()'
      [ngClass]='{"overlay": isDragging}'>
      <div class='ion-padding ion-text-center batch-details'>
        <span *ngIf='!type'>Current Decision Threshold: {{threshold | number:'1.2-2'}}</span>
        <br><br>
        <ion-text color='danger' *ngIf='invalidCases'>Invalid case(s) dropped from testing: {{invalidCases}}</ion-text>
        <br><br>
        Drag and drop your CSV or select the button below to open a file picker.
        <ng-container *ngTemplateOutlet='modelStats'></ng-container>
      </div>
    </div>
    <ion-grid class='ion-no-padding'>
      <ion-row>
        <ion-col class='ion-no-padding'>
          <ion-button expand='block' color='medium' fill='solid' (click)='exportBatchTemplate()'>
            <ion-icon name='code-download' slot='start'></ion-icon>
            Download Template
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand='block' color='primary' fill='solid' (click)='fileInput.click()'>
            <ion-icon name='copy' slot='start'></ion-icon>
            Select CSV
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <input #fileInput type='file' class='hidden' (change)='batchTest($event)' accept='.csv, text/csv'>
  </ng-container>

  <ng-container *ngIf='!type && segment.value === "generalize"'>
    <div class='container' (drop)='generalize($event, "drop")' (dragover)='startDrag($event)' (dragleave)='endDrag()'
      [ngClass]='{"overlay": isDragging}'>
      <div class='ion-padding ion-text-center batch-details'>
        <span *ngIf='!type'>Current Decision Threshold: {{threshold | number:'1.2-2'}}</span>
        <br>
        <span *ngIf='fileName; else defaultName'>Filename: {{fileName}}</span>
        <ng-template #defaultName>Original Generalization Dataset</ng-template>
        <br><br>
        <ion-text color='danger' *ngIf='invalidCases'>Invalid case(s) dropped from testing: {{invalidCases}}</ion-text>
        <br><br>
        <span *ngIf='generalization'>Drag and drop your CSV or select the button below to open a file picker.</span>
        <ion-grid class='ion-no-padding output'>
          <ion-row class='ion-align-items-center'>
            <ion-col class='ion-no-padding'>
              <ng-container *ngTemplateOutlet='modelStats'></ng-container>
            </ion-col>
            <ion-col class='ion-no-padding' *ngIf='reliability'>
              <app-roc-chart [data]='{fpr: rocAuc.fpr, tpr: rocAuc.tpr, textElements: ["AUC: " + generalization.roc_auc.toFixed(4)]}' mode='generalization'></app-roc-chart>
            </ion-col>
          </ion-row>
          <ion-row *ngIf='rocAuc && precisionRecall'>
            <ion-col class='ion-no-padding'>
              <app-roc-chart [data]='{fpr: precisionRecall.recall, tpr: precisionRecall.precision, textElements: ["F1: " + generalization.f1.toFixed(4)]}' mode='precision'></app-roc-chart>
            </ion-col>
            <ion-col class='ion-no-padding'>
              <app-roc-chart [data]='{fpr: reliability.mpv, tpr: reliability.fop, textElements: ["Brier Score: " + reliability.brier_score.toFixed(4)]}' mode='reliability'></app-roc-chart>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <ion-grid class='ion-no-padding'>
      <ion-row>
        <ion-col class='ion-no-padding'>
          <ion-button expand='block' color='primary' fill='solid' (click)='fileInput.click()'>
            <ion-icon name='copy' slot='start'></ion-icon>
            Select CSV
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <input #fileInput type='file' class='hidden' (change)='generalize($event)' accept='.csv, text/csv'>
</ion-content>

<ng-template #modelStats>
  <app-model-statistics *ngIf="type !== 'tandem'" [generalization]="type === 'ensemble' ? (voteType === 'hard' ? hardGeneralization : softGeneralization) : generalization"></app-model-statistics>
</ng-template>