.mat-form-field {
    display: block;
}

.container {
    display: flex;
    overflow-y: hidden;
    margin-bottom: 10px;
    height: calc(100% - 50px);

    .inputs {
        overflow-y: scroll;
    }

    .results {
        .label {
            font-weight: 700;
        }

        .indicator {
            vertical-align: middle;
        }
    }
}

.page-view {
    .container {
        height: calc(100% - 130px);
    }
}