:host {
    .expand {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    table {
        width: 100%;

        ion-icon {
            cursor: pointer;
        }

        td, th {
            padding: 16px 0;
        }
    }

    .runs {
        h4 {
            padding: 10px;
        }
    }

    .feature-details {
      height: 100%;

      ion-row {
        height: 100%;
      }
    }
}

@media (prefers-color-scheme: dark) {
    :host {
        color: white;
    }
}

@media (max-width: 992px) {
    :host {
        .analysis {
            order: 1;
        }
    }
}

@media (min-width: 992px) {
    :host {
        > ion-grid {
            overflow: hidden;
            height: 100%;
    
            > ion-row {
                height: 100%;
    
                > ion-col {
                    overflow: scroll;
                    height: 100%;
                }
            }
        }
    }
}