:host {
    .continue {
        max-width: 600px;
        margin: 10px auto;
    }

    table {
        width: 100%;

        ion-icon {
            cursor: pointer;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :host {
        color: white;
    }
}

@media (max-width: 992px) {
    :host {
        .analysis {
            order: 1;
        }
    }
}