<ion-grid class='ion-text-center'>
  <ion-row>
    <ion-col size-xs='12' size-lg='9' class='analysis' *ngIf='analysis' [ngClass]='{"expand": !jobs?.data.length}'>
      <ion-button (click)='newJob()' *ngIf='!jobs?.data.length'>Continue Training</ion-button>
      <ion-button color='danger' (click)='deleteDataset()' *ngIf='!jobs?.data.length'>
        <ion-icon slot='start' name='trash'></ion-icon>
        Delete Dataset
      </ion-button>
      <ion-grid>
        <ion-row>
          <ion-col size-xs='12' size-md='6'>
            <app-feature-details [label]='analysis.label' [data]='analysis.analysis.train' type='Training'></app-feature-details>
          </ion-col>
          <ion-col size-xs='12' size-md='6'>
            <app-feature-details [label]='analysis.label' [data]='analysis.analysis.test' type='Generalization'></app-feature-details>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col size-xs='12' size-lg='3' class='runs' *ngIf='jobs?.data.length'>
      <h4 class='ion-text-center'>Previous Runs</h4>

      <ion-button size='small' (click)='newJob()' class='ion-margin-end'>
        <ion-icon slot='start' name='add'></ion-icon>
        New Run
      </ion-button>

      <ion-button size='small' color='danger' (click)='deleteDataset()'>
        <ion-icon slot='start' name='trash'></ion-icon>
        Delete Dataset
      </ion-button>

      <div class='ion-padding-top ion-margin-top' *ngIf='!jobs?.data.length'>
        Start training by clicking new run above
      </div>

      <table mat-table [dataSource]='jobs' *ngIf='jobs?.data.length'>
        <ng-container [matColumnDef]='column' *ngFor='let column of columns'>
          <th mat-header-cell *matHeaderCellDef class='ion-text-center'>{{column}}</th>
          <td mat-cell *matCellDef='let element; let i = index'>
            <span *ngIf='column !== "Actions"'>
              {{getValue(element, column)}}
            </span>
            <span *ngIf='column === "Actions"' class='actions'>
              <ion-icon
                name='search' color='primary' size='small'
                (click)='useJob(element.id, "train")' class='ion-padding-end'
                [class.ion-hide]='element.hasResults'></ion-icon>
              <ion-icon
                name='document' color='primary' size='small'
                (click)='useJob(element.id, "result")' class='ion-padding-end'
                [class.ion-hide]='!element.hasResults'></ion-icon>
              <ion-icon
                name='trash' color='danger' size='small'
                (click)='deleteJob(element.id)'></ion-icon>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef='columns; sticky: true'></tr>
        <tr mat-row *matRowDef='let row; let i = index; columns: columns'></tr>
      </table>
    </ion-col>
  </ion-row>  
</ion-grid>
